*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --scrore-font-size: 2rem;
  --primary-color: #5b33ee;
  --secondary-color: #eef0f2;
  --font-color: var(--secondary-color);
  --bar-height: 80px;
  --bar-width: 10px;
  --player-bar-margin-left: 10px;
  --computer-bar-margin-right: 10px;
  --score-font-size: 2.5rem;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  overflow: hidden;
}

.score-divider {
  margin: 0 16px;
  font-size: var(--scrore-font-size);
  transform: translateY(-8%);
  font-size: var(--scrore-font-size);
}

.player-score {
  position: absolute;
  left: 25%;
  font-size: var(--score-font-size);
  transform: translateX(-50%);
  color: var(--secondary-color);
  pointer-events: none;
}

.computer-score {
  position: absolute;
  left: 75%;
  font-size: var(--score-font-size);
  transform: translateX(-50%);
  color: var(--secondary-color);
  pointer-events: none;
}

.player-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--bar-width);
  height: var(--bar-height);
  background: var(--secondary-color);
  margin-left: var(--player-bar-margin-left);
}

.computer-bar {
  position: absolute;
  top: 50%;
  left: calc(100vw - var(--bar-width) - var(--computer-bar-margin-right));
  width: var(--bar-width);
  height: var(--bar-height);
  background: var(--secondary-color);
}

.screen-divider {
  width: 2px;
  height: 100vh;
  background: var(--secondary-color);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.ball {
  /* ball width in pixel */
  --ball-width: 20;
  width: calc(var(--ball-width) * 1px);
  aspect-ratio: 1;
  background: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
}

.player-win-container,
.computer-win-container {
  position: fixed;
  width: 300px;
  padding: 20px;
  background: var(--secondary-color);
  border-radius: 0.5rem;
  padding-top: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease;
}

.player-win-container {
  left: 25%;
  top: 30%;
}

.computer-win-container {
  left: 75%;
  top: 30%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button {
  position: relative;
  padding: 10px 20px;
  border-radius: 0.5rem;
  border: 2px solid black;
  cursor: pointer;
  background: white;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 0;
  font-weight: bold;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: yellow;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.button:hover::before {
  transform: translateX(0);
}

.player-win-heading,
.computer-win-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .player-win-container,
  .computer-win-container {
    left: 50%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 9;
}

.player-win-container.active,
.computer-win-container.active {
  transform: translateX(-50%) scale(1);
}

.overlay.active {
  opacity: 1;
}

.infinite-mode-toggle-container {
  position: fixed;
  top: -10px;
  left: 5px;
}

#infinite-mode-input {
  appearance: none;
}

#infinite-mode-input + .infinite-mode-label {
  --infinite-mode-label-font-size: 16px;
  --infinite-mode-label-color: hsl(100, 90%, 50%);
  --infinite-mode-toggle-background: rgba(0, 0, 0, 0.5);
  --infinite-mode-toggle-circle-background: white;

  color: var(--infinite-mode-label-color);
  font-size: var(--infinite-mode-label-font-size);
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

#infinite-mode-input + .infinite-mode-label::before {
  content: '';
  width: calc(2.5 * var(--infinite-mode-label-font-size));
  height: calc(1 * var(--infinite-mode-label-font-size));
  background: var(--infinite-mode-toggle-background);
  border-radius: 99999999px;
}

#infinite-mode-input + .infinite-mode-label::after {
  content: '';
  width: calc(0.8 * var(--infinite-mode-label-font-size));
  aspect-ratio: 1;
  background: var(--infinite-mode-toggle-circle-background);
  border-radius: 50%;
  position: absolute;
  left: calc(0.25 * var(--infinite-mode-label-font-size));
  transition: left 0.2s ease;
}

#infinite-mode-input:checked + .infinite-mode-label::after {
  left: calc(0.75 * 2.5 * var(--infinite-mode-label-font-size));
  transform: translateX(-50%);
}
